body{
    background-color: white;
    font-family: EuclidCircularB,helvetica,arial,sans-serif;
}
.navbar{
    width: 50%;
    height: 100%;
    margin: auto;
    padding: 10px;
    text-align: center;
    border: 2px dashed #e5e5e5;
    border-radius: 5px;
}
a.navbar{
    color: black;
    font-size: 20px;
    text-decoration: none;
    border-style: none;
}
.header{
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border: 2px dashed #e5e5e5;
}
.photo{
    max-width: 250px;
    max-height: 250px;
}
.pp{
    width: 250px;
    height: 250px;
    border-radius: 100%;
}
.info-wrapper{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}
.info{
    width: auto;
    height: auto;
}
.links div{
    display: inline;
}
.links div a{
    display: inline-flex;
    width: 50px;
    height: 50px;
    font-size: 30px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.links a i{
    transition: 0.5s all;
}
.links a:hover > i{
    transform: scale(1.6) rotate(360deg);
}
.content{
    width: 50%;
    height: 100%;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border: 2px dashed #e5e5e5;
}
h2{
    display: inline-block;
    border-bottom: 2px solid #e5e5e5;
}
#contact{
    width: 50%;
    height: 100%;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border: 2px dashed #e5e5e5;
}
form{
    max-width: 550px;
    width: 90%;
    background: white;
    margin: auto;
    padding: 30px;
    box-sizing: border-box;
}
h1{
    margin: 0;
    text-align: center;
}
label{
    display: block;
    margin: 20px 0;
}
input, textarea{
    width: 100%;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid #d3d3d3;
}
input[type="text"]:focus, textarea:focus{
    border-bottom: 1px solid rgb(255, 0, 106);
}
textarea::-webkit-scrollbar{
    width: 4px;
}
textarea::-webkit-scrollbar-thumb{
    background-color: rgb(255, 0, 106);
}
.center{
    text-align: center;
}
input[type="submit"]{
    margin-top: 30px;
    width: 90%;
    max-width: 200px;
    background: black;
    color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 3px;
}
.error{
    color: red;
}
.error-border{
    border-bottom: 1px solid red;
}
#success{
    color: #28A745;
}
.footer{
    width: 50%;
    height: 100%;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border: 2px dashed #e5e5e5;
    border-radius: 5px;
}